#root {
  height: 100%;
}

#properties {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 260px;
  z-index: 10;
  border-left: 1px solid #ccc;
  overflow: auto;
}

#properties > .djs-properties-panel {
  padding-bottom: 70px;
  min-height: 100%;
}